* {
  color: #1b1c21;
  font-family: TT Lakes;
  font-style: normal;
}

// .body {
//   width: 1440px;
// }

.nav__left-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__right-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__divider_right,
.nav__divider_left {
  margin: 0 4px 0 4px;
}

.nav__logo-img {
  width: 96.548px;
  height: 50.815px;
}

.header {
  padding: 18px 16px;
  border-bottom: solid 1px #d9fff5;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__page-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  width: 100%;
  display: flex;
  padding-top: 24px;
}

.main {
  background: #f8f8f8;
  /* width: 100%; */
  /* height: 509px; */
  border-top: 1px;
}

.main__text-1,
.main__text-2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  padding-right: 8px;
}
.main__links {
  gap: 32px;
}

.main__links,
.main__link_repair,
.main__link_checkstatus {
  display: flex;
  align-items: center;
}

.main__highlight-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.menu {
  display: flex;
  overflow: scroll;
  padding-left: 16px;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu_item {
  height: 40px;
  color: #7e7e82;
  background: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  border: 2px solid #f8f8f8;
  padding: 8px 16px;
}

/* .item_active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
} */

/* .menu_item {
  
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
  outline: none; 
} */

.menu_item:focus {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
}

.info {
  padding: 0 16px 12px 16px;
}

.info_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.info__text-second {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.info__expand {
  border: none;
  background: #f8f8f8;
  display: flex;
  padding-top: 16px;
  padding-inline: 0;
  gap: 8px;
}

.info__expand-min {
  border: none;
  background: #f8f8f8;
  display: none;
  padding-top: 16px;
  padding-inline: 0;
  gap: 8px;
}

.expand__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.info__img-cps {
  width: 100%;
}

.section-main {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.article-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.footer-text {
  /* display: inline-flex;
  align-items: center; */
  /* cursor: pointer; */
  flex-wrap: nowrap;
  padding-right: 24px;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.footer {
  color: #7e7e82;
  text-align: center;
  font-family: "TT Lakes";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  opacity: 0.7218;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #d9fff5;
  padding: 20px;
}

@media (min-width: 768px) {
  .footer__center {
    white-space: nowrap;
  }
  .footer__end {
    text-align: right;
    width: 33%;
  }
  .footer__start {
    text-align: left;
    width: 33%;
  }
}

/* .footer_buttom {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

@media screen and (min-width: 768px) {
  .header {
    padding: 18px 24px;
  }
  .menu {
    padding-left: 24px;
  }
  .info {
    padding: 0;
  }
  .nav__left-block,
  .main__highlight-title,
  .nav__right-block {
    gap: 20px;
  }
  .article {
    display: flex;
    padding: 0 24px 40px;
    gap: 48px;
    justify-content: space-between;
  }
  .info__img-cps {
    border-radius: 6px;
    width: 360px;
    height: 208px;
  }
  .info__expand {
    padding-top: 10px;
  }
  .section-main {
    gap: 32px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header,
  .menu__before-laptop {
    display: none;
  }
  .info {
    padding: 0;
  }
  .menu {
    overflow: unset;
    flex-wrap: wrap;
    padding-left: 32px;
  }
  .main__page-title {
    display: flex;
    justify-content: space-between;
    padding: 42px 32px 0 0;
    box-sizing: border-box;
  }
  .main__highlight-title {
    gap: 30px;
  }
  .info__img-cps {
    width: 531px;
    height: 307px;
  }
  .section-main {
    gap: 14px;
  }
  .article {
    padding: 0 28px 0 34px;
  }
}

@media screen and (max-width: 767px) {
  .nav__divider_left,
  .nav__call_tablet,
  .nav__chat_tablet,
  .nav__profile_tablet,
  .info__text-second {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .main__links,
  .info__text-third,
  .menu__on-laptop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-left: 320px;
  }
}

@media (min-width: 1440px) {
  .body {
    width: 1440px;
    margin: 0 auto;
  }
}
